#loading {
    background: black ;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.btn__loading {
    color: white;
    background-color: black;
    border: none;
}